<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Exchange_S.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FAC50B51CEABEC2005AE500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FAC50C91CEABEC2005AE500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FAC50D41CEABEC2005AE500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
